@{
    ViewData["Title"] = "About Us";
}


<div class="hero page-inner overlay" style="background-image: url('/images/11.png')!important">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">About</h1>

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a asp-controller="Home" action="Index">Home</a></li>
                        <li class="breadcrumb-item active text-white-50" aria-current="page">
                            About
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>




<!--Site identification -->
<div class="section">
    <div class="container">
        <div class="row text-left mb-5">
            <div class="col-12">
                <h2 class="font-weight-bold heading text-primary mb-4">About Us</h2>
            </div>
            <div class="col-lg-6">
                <p class="text-black-50">
                    With a vision to lead and guide the Egyptian real estate market towards a better, more sustainable future, we set out on a journey to challenge the status quo and redefine conventional lifestyles that are no longer viable.
                </p>
                <p class="text-black-50">
                    With a vision to lead and guide the Egyptian real estate market towards a better, more sustainable future, we set out on a journey to challenge the status quo and redefine conventional lifestyles that are no longer viable.
                </p>
                <p class="text-black-50">
                    The social and economic challenges were many, but our agility and passion for change were stronger.In less than a decade we were able to design and develop communities that offer valuable experiences and lifestyles.
                </p>
            </div>
            <div class="col-lg-6">
                <p class="text-black-50">
                    Our footprint has expanded along the years, and we transitioned from creating communities to making places for everyone who’s looking for a new home,a new life, and a new beginning.
                </p>
                <p class="text-black-50">
                    Today Hyde Park Development’s flourishing communities aim to provide the perfect balance between life, work, and play in a blend of urban practicality and rural tranquility.
                </p>
                <p class="text-black-50">
                    Bringing together residential, commercial, and recreational spaces, Hyde Park’s places offer you viable, modernised lifestyle standards that promote your well-being and cater to your individual needs.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="section pt-0">
    <div class="container">
        <div class="row justify-content-between mb-5">
            <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
                <div class="img-about dots">
                    <img src="~/images/comb-7.jpg" alt="Image" class="img-fluid" />
                </div>
            </div>


            <!-- icons   -->
            <div class="col-lg-4">
                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-golf_course"></span>
                    </span>

                    <div class="feature-text">
                        <h3 class="heading">Agility</h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-people"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Innovation</h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-group_work"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Excellence</h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section pt-0">
    <div class="container">
        <div class="row justify-content-between mb-5">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="img-about dots">
                    <img src="~/images/comb-8.jpg" alt="Image" class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-home2"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Quality</h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-hdr_strong"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Transparency</h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-grid_on"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Integrity</h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!--combwind images -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
                <img src="~/images/comb-2.png" alt="Image" class="img-fluid" />
            </div>
            <div class="col-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="100">
                <img src="~/images/comb-3.webp" alt="Image" class="img-fluid" />
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                <img src="~/images/comb-4.jpg" alt="Image" class="img-fluid" />
            </div>
        </div>

    </div>
</div>

<div class="section sec-testimonials bg-light">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-md-6">
                <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">
                    The Team
                </h2>
            </div>
            <div class="col-md-6 text-md-end">
                <div id="testimonial-nav">
                    <span class="prev" data-controls="prev">Prev</span>

                    <span class="next" data-controls="next">Next</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4"></div>
        </div>
        <div class="testimonial-slider-wrap">
            <div class="testimonial-slider">



                <!--  kareem -->
                <div class="item">
                    <div class="testimonial">
                        <img src="~/images/Us/k.jpg" alt="Image" class="img-fluid w-25 mb-4 " style="border-radius: 10px!important;" />
                        <h3 class="h5 text-primary">kareem ahmed frag</h3>
                        <p class="text-black-50">Front-End Dev, Co-founder</p>

                        <p>
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                        </p>

                        <ul class="social list-unstyled list-inline dark-hover">
                            <li class="list-inline-item">
                                <a href="https://www.twitter.com/"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!--  yossef -->
                <div class="item">
                    <div class="testimonial">
                        <img src="~/images/Us/yos.jpg" alt="Image" class="img-fluid  w-25 mb-4" style="border-radius: 10px!important;" />
                        <h3 class="h5 text-primary">Youssef Salah</h3>
                        <p class="text-black-50">Back-End Dev, Co-founder</p>

                        <p>
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                        </p>

                        <ul class="social list-unstyled list-inline dark-hover">
                            <li class="list-inline-item">
                                <a href="https://www.twitter.com/"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!--  Saif -->
                <div class="item">
                    <div class="testimonial">
                        <img src="~/images/Us/s.png" alt="Image" class="img-fluid   w-25 mb-4" style="border-radius: 10px!important;" />
                        <h3 class="h5 text-primary">Saif Adel</h3>
                        <p class="text-black-50">Front-End Dev, Co-founder</p>

                        <p>
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                        </p>

                        <ul class="social list-unstyled list-inline dark-hover">
                            <li class="list-inline-item">
                                <a href="https://www.twitter.com/"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!--  Abdelhaleem -->
                <div class="item">
                    <div class="testimonial">
                        <img src="~/images/Us/h.png" alt="Image" class="img-fluid  w-25 mb-4" style="border-radius: 10px!important;" />
                        <h3 class="h5 text-primary">Abdelhaleem Khaled</h3>
                        <p class="text-black-50">Back-End Dev, Founder</p>

                        <p>
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                        </p>

                        <ul class="social list-unstyled list-inline dark-hover">
                            <li class="list-inline-item">
                                <a href="https://www.twitter.com/"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- Ahmed morsy-->
                <div class="item">
                    <div class="testimonial">
                        <img src="~/images/Us/mor.jpg" alt="Image" class="img-fluid  w-25 mb-4" style="border-radius: 10px!important;" />
                        <h3 class="h5 text-primary">Ahmed Morsy</h3>
                        <p class="text-black-50">Mobile Application Dev, Co-founder</p>

                        <p>
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                        </p>

                        <ul class="social list-unstyled list-inline dark-hover">
                            <li class="list-inline-item">
                                <a href="https://www.twitter.com/"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

