@model DynacityFront.DTO.RentUpdateDTO

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>PropertyUpdateDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input hidden asp-for="RentId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentDiscription" class="control-label"></label>
                <input asp-for="RentDiscription" class="form-control" />
                <span asp-validation-for="RentDiscription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyUpdate.Title" class="control-label"></label>
                <input asp-for="PropertyUpdate.Title" class="form-control" />
                <span asp-validation-for="PropertyUpdate.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyUpdate.Description" class="control-label"></label>
                <input asp-for="PropertyUpdate.Description" class="form-control" />
                <span asp-validation-for="PropertyUpdate.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyUpdate.Bedrooms" class="control-label"></label>
                <input asp-for="PropertyUpdate.Bedrooms" class="form-control" />
                <span asp-validation-for="PropertyUpdate.Bedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyUpdate.Bathrooms" class="control-label"></label>
                <input asp-for="PropertyUpdate.Bathrooms" class="form-control" />
                <span asp-validation-for="PropertyUpdate.Bathrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyUpdate.Area" class="control-label"></label>
                <input asp-for="PropertyUpdate.Area" class="form-control" />
                <span asp-validation-for="PropertyUpdate.Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyUpdate.ProfilePicture" class="control-label"></label>
                <input asp-for="PropertyUpdate.ProfilePicture" class="form-control" />
                <span asp-validation-for="PropertyUpdate.ProfilePicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentPrice" class="control-label"></label>
                <input asp-for="RentPrice" class="form-control" />
                <span asp-validation-for="RentPrice" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
